version: '3.9'

services:
  api:
    build:
      context: ..                 # solution root (parent of ProjectManager)
      dockerfile: ProjectManager/Dockerfile
    ports:
      - "5000:8080"
    environment:
      ConnectionStrings__DefaultConnection: "Server=sqlserver,1433;Database=ProjectManagerDb;User Id=sa;Password=Your_strong_password123;TrustServerCertificate=True;"
      ASPNETCORE_ENVIRONMENT: "Development"
    depends_on:
      - sqlserver

  sqlserver:
    image: mcr.microsoft.com/mssql/server:2022-latest
    environment:
      ACCEPT_EULA: "Y"
      SA_PASSWORD: "Your_strong_password123"
      MSSQL_PID: "Express"
    ports:
      - "1433:1433"
    volumes:
      - sql_data:/var/opt/mssql

  rabbitmq:
    image: rabbitmq:3-management
    container_name: myapp-rabbitmq
    ports:
      - "5672:5672"   # AMQP
      - "15672:15672" # Management UI
    environment:
      RABBITMQ_DEFAULT_USER: "guest"
      RABBITMQ_DEFAULT_PASS: "guest"

volumes:
  sql_data: